:root {
    --color-celeste: #93c6f5;
    --color-blanco: #ffffff;
    --color-azul: darkblue
}

ul {
    display: flex;
    justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--color-blanco);
}


h1,
h2,
p, 
div {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--color-azul);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
  padding: rem;
  border-radius: 1.5rem;
  margin: 1.5rem;
  text-wrap: pretty;
}



img {
    max-width: 90%;
    height: auto;
}

.galeria {
    justify-content: center;
    margin-bottom: 3rem;
}







footer, header {
  padding: 10px;
  text-align: center;
  color: var(--color-azul);
  background: linear-gradient(
    to bottom,
    rgba(111, 179, 243, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(111, 179, 243, 0.5));
}






/*Celulares*/
@media (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  main {
    padding: 10px;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.6rem;
  }
}

/*Tablets*/
@media (min-width: 601px) and (max-width: 1024px) {
  header {
    padding: 15px;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;
  }

  main {
    padding: 15px;
  }
}

/*Notebooks y pantallas más grandes*/
@media (min-width: 1025px) {
  header {
    padding: 20px;
  }

  nav ul li {
    display: inline;
    margin: 0 20px;
  }

  main {
    padding: 20px;
  }
}
