:root {
  --color-celeste: #93c6f5;
  --color-blanco: #ffffff;
  --color-azul: darkblue
}

nav ul li {
  justify-content: center;
  display: inline;
  margin: 20px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--color-celeste);
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-image: url(https://i.pinimg.com/564x/8d/41/70/8d4170a98f8c50f306d2c2d35e9293fb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: darkblue;
  text-align: center;
  font-size: 1.8rem;
}

h2,h3 {
  color:white;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
}

p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--color-azul)
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 20px;
  color: white;
  font-size: large;
  text-shadow : 0px 0px 20px black;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  width: 70%;
  box-sizing: border-box;
  backdrop-filter: blur(15px);
  background-color: rgba(255,255,255,0.5);
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  outline: none;
}

textarea {
  backdrop-filter: blur(15px);
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  outline: none;
  padding: 10px;
}

footer, header {
  padding: 10px;
  text-align: center;
  color: var(--color-azul);
  background: linear-gradient(
    to bottom,
    rgba(111, 179, 243, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(111, 179, 243, 0.5));
}

.footer .copyright {
  font-size: 12px;
}
/*pantallas de celulares */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 600px;
  }
}

/* Estilos para notebooks */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    max-width: 800px;
  }
}

/* Estilos para monitores de PC */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1000px;
  }
}
