body{
    background-image:url(https://i.pinimg.com/736x/a5/37/05/a53705b9a77b24e5b04b99e06b737a60.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
}
.texto{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 19px;
}