body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin: auto;
  position:static;
  padding-left: 100px;
  padding-right: 100px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #00c8ff9e;
}

header {
  background-color: #00c8ff9e;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  size: 2rem;
  display: flex;
  justify-content: center;
  color: black;
}

header nav a:hover {
  font-weight: bold;
  color: #2200ff;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ffffff;
}

main {
    background-image: url(https://cdn.pixabay.com/photo/2016/06/16/01/20/argentina-1460299_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

h3 {
  text-align: center;
  font-weight: bolder;
}

h2{
  font-weight: bolder;
  color: #000000;
  text-align: center;
}

h4 {
  text-align: center;
  margin: auto;
  position:static;
  padding-left: 100px;
  padding-right: 100px;
}

.info {
  background-color: #ffffffb8;
  padding: auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.goles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

p {
  color:#000000;
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.imagenes .img-container-header h2 {
  width: 30vw;
  max-width: 100%;
  height: auto;
  color: #000000;
  padding: 2em;
  text-align: center;
}

.imagenes .img-container h2 {
  width: 30vw;
  max-width: 100%;
  height: auto;
  color: #000000;
  padding: 2em;
  text-align: center;
}

.imagenes .img-container-header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  background-color: #ffffffb8;
  padding: 2em;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.imagenes .img-container-header img {
  width: 40vw;
  max-width: 100%;
  height: auto;
  background-color: #ffffffb8;
  padding: 2em;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.imagenes .img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  background-color: #ffffffb8;
  padding: 2em;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.imagenes .img-container img {
  width: calc(55% - 30px);
  max-width: 100%;
  height: auto;
  margin-right: 2rem;
  background-color: #ffffffb8;
  padding: 2em;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


footer {
  background-color: #00c8ff9e;
  color: #000000;
  padding: 1em;
  text-align: center;
  clear: both;
}